
      #button1{
        background-color: #08ffc8;
      }

      #button2{
        background-color: #204969;
      }
      
      input[type="text"]{
        font-size: 16px;
        border-radius: 4px;
        box-sizing: border-box;
        width: 300px;
        padding: 10px;
        border: 1px solid #ccc;
      }
      
      button{
        background-color: #2d248a;
        color: #ffffff;
        padding: 10px 20px;
        border-radius: 4px;
        margin-right: 10px;
        border: none;
      }

      
   
